<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FMSwizzler_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FMSwizzler_osx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>349A21E21622152D001D254C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>349A21F31622152D001D254C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>349A221116221626001D254C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>349A22221622168D001D254C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>349A22341622168D001D254C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
